# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Modify the effects armor has on entities when worn
##########################################################################################################

armor {

    Natura_natura_armor_imphelmet {
        S:01.ID=Natura:natura.armor.imphelmet
        D:"02.Temp Add - Night"=0.833
        D:"03.Temp Add - Shade"=0.833
        D:"04.Temp Add - Sun"=0.833
        D:"05.Temp Multiplier - Night"=1.041
        D:"06.Temp Multiplier - Shade"=1.041
        D:"07.Temp Multiplier - Sun"=1.041
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"11.Is Temperature Resistance"=false
        B:"12.Is Temperature Sealed"=false
    }

    Natura_natura_armor_impjerkin {
        S:01.ID=Natura:natura.armor.impjerkin
        D:"02.Temp Add - Night"=1.333
        D:"03.Temp Add - Shade"=1.333
        D:"04.Temp Add - Sun"=1.333
        D:"05.Temp Multiplier - Night"=1.066
        D:"06.Temp Multiplier - Shade"=1.066
        D:"07.Temp Multiplier - Sun"=1.066
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"10.Allow Camel Pack"=true
        B:"11.Is Temperature Resistance"=false
        B:"12.Is Temperature Sealed"=false
    }

    Natura_natura_armor_impleggings {
        S:01.ID=Natura:natura.armor.impleggings
        D:"02.Temp Add - Night"=1.167
        D:"03.Temp Add - Shade"=1.167
        D:"04.Temp Add - Sun"=1.167
        D:"05.Temp Multiplier - Night"=1.057
        D:"06.Temp Multiplier - Shade"=1.057
        D:"07.Temp Multiplier - Sun"=1.057
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"11.Is Temperature Resistance"=false
        B:"12.Is Temperature Sealed"=false
    }

    Natura_natura_armor_impboots {
        S:01.ID=Natura:natura.armor.impboots
        D:"02.Temp Add - Night"=0.667
        D:"03.Temp Add - Shade"=0.667
        D:"04.Temp Add - Sun"=0.667
        D:"05.Temp Multiplier - Night"=1.032
        D:"06.Temp Multiplier - Shade"=1.032
        D:"07.Temp Multiplier - Sun"=1.032
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"11.Is Temperature Resistance"=false
        B:"12.Is Temperature Sealed"=false
    }

}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Customise the physical properties and environmental effects of blocks
##########################################################################################################

blocks {

    block_blue_glowshroom {
        S:01.Name=Natura:blueGlowshroom
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=0
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    block_purple_glowshroom {
        S:01.Name=Natura:purpleGlowshroom
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=0
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    block_green_glowshroom {
        S:01.Name=Natura:greenGlowshroom
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=0
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    grass_natura_grass {
        S:01.Name=Natura:GrassBlock
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=0
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=loose
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    tile_natura_leaves_floraleaves_suspendable {
        S:01.Name=Natura:floraleaves
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.01
        D:09.Sanity=0.1
        S:10.Stability=suspended
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    tile_natura_sakuraleaves_suspendable {
        S:01.Name=Natura:floraleavesnocolor
        I:02.MetaID=0
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.01
        D:09.Sanity=0.1
        S:10.Stability=suspended
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    tile_natura_ghostwoodleaves_suspendable {
        S:01.Name=Natura:floraleavesnocolor
        I:02.MetaID=1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.01
        D:09.Sanity=0.1
        S:10.Stability=suspended
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    tile_natura_bloodwoodleaves_suspendable {
        S:01.Name=Natura:floraleavesnocolor
        I:02.MetaID=2
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.01
        D:09.Sanity=0.0
        S:10.Stability=suspended
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    tile_natura_babylonwillowleaves_suspendable {
        S:01.Name=Natura:floraleavesnocolor
        I:02.MetaID=3
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.01
        D:09.Sanity=0.1
        S:10.Stability=suspended
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    "tile_Darkleaves_Dark Leaves_suspendable" {
        S:01.Name=Natura:Dark Leaves
        I:02.MetaID=2
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.01
        D:09.Sanity=0.1
        S:10.Stability=suspended
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    "tile_RareLeaves_Rare Leaves_suspendable" {
        S:01.Name=Natura:Rare Leaves
        I:02.MetaID=3
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.01
        D:09.Sanity=0.1
        S:10.Stability=suspended
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

    tile_natura_sapling_bloodwood {
        S:01.Name=Natura:florasapling
        I:02.MetaID=5
        S:03.DropName=
        I:04.DropMetaID=5
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=suspended
        B:11.Slides=false
        B:"12.Slides When Wet"=false
        B:"13.[Torch] Does it go out?"=false
        B:"14.[Torch] Does it go out in the rain?"=false
        I:"15.[Torch] Go out chance"=10000
        S:"16.[Torch] Go out Name (block)"=enviromine:offtorch
    }

}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom effects for items
##########################################################################################################

items {

    item_natura_netherberry {
        S:01.Name=Natura:berry.nether
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=3.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_natura_berry {
        S:01.Name=Natura:berry
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=3.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_natura_saguarofruit {
        S:01.Name=Natura:saguaro.fruit
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=6.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_natura_rawimpmeat {
        S:01.Name=Natura:impmeat
        I:02.Damage=0
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=7.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_natura_cookedimpmeat {
        S:01.Name=Natura:impmeat
        I:02.Damage=1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.05
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=6.0
        D:"11.Effect Temperature Cap"=38.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_natura_glowshroomstew {
        S:01.Name=Natura:natura.stewbowl
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=20.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_natura_berryMedley {
        S:01.Name=Natura:berryMedley
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=20.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_waterdrop_waterdrop {
        S:01.Name=Natura:waterdrop
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=10.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

}


