# Configuration file

clientconfig {
    # How long (in ticks) it takes before control surfaces try to return to their natural angle.  
    # This is not used when using a joystick.
    I:ControlSurfaceCooldown=4

    # Is the starter enabled? 
    # If not, players must hit propellers to start them
    B:ElectricStart=true

    # Credits screen is displayed if this is the first run.
    B:FirstRun=false

    # How much planes will try to correct themselves when they get a sync packet.  
    # This is intended to gradually sync airborne planes so they don't get out of the sync threshold and get force-synced.
    D:IncrementalMovement=0.01

    # Dead zone for joystick axis.  
    # MFS will always use the greater of this value and the value provided by the computer.
    D:JoystickDeadZone=0.03

    # Factor by which joystick inputs are multiplied.  
    # This controls how quickly the control surfaces change.
    I:JoystickForceFactor=15

    # Does altimiter read zero at Y=64 instead of Y=0?
    B:SeaLevelOffset=false

    # How many blocks or degrees out-of-sync a plane can be on a client before it will be forced to re-sync.  
    # Higher values cause less jittering but increase the chance that an entity can get out of sync.  
    # You can keep this value as it is, but consider making it lower if you are on a server with fast planes.
    I:SyncThreshold=5

    # Whether or not the throttle can be put to zero and kill the engine.  
    # Only valid for joysticks.
    B:ThrottleKills=false
}


fuels {
    D:acid_fluid=0.0
    D:air=0.0
    D:amat=0.0
    D:ammonia=0.0
    D:argon=0.0
    D:aromatics=0.0
    D:aschrab=0.0
    D:balefire=0.0
    D:biodiesel=0.0
    D:biofuel=0.0
    D:biogas=0.0
    D:bitumen=0.0
    D:blood=0.0
    D:blood_hot=0.0
    D:bloodgas=0.0
    D:bromine_fluid=0.0
    D:calcium_chloride=0.0
    D:calcium_solution=0.0
    D:carbondioxide=0.0
    D:chlorine=0.0
    D:chlorocalcite_cleaned=0.0
    D:chlorocalcite_mix=0.0
    D:chlorocalcite_solution=0.0
    D:chloromethane=0.0
    D:cholesterol=0.0
    D:cmilk=0.0
    D:coalcreosote=0.0
    D:coalgas=0.0
    D:coalgas_leaded=0.0
    D:coaloil=0.0
    D:coffee=0.0
    D:colloid=0.0
    D:coolant=0.0
    D:coolant_hot=0.0
    D:corium_fluid=0.0
    D:crackoil=0.0
    D:crackoil_ds=0.0
    D:cream=0.0
    D:creosote=0.0
    D:cryogel=0.0
    D:custom_demo=0.0
    D:death=0.0
    D:deuterium=0.0
    D:dicyanoacetylene=0.0
    D:diesel=0.0
    D:diesel_crack=0.0
    D:diesel_crack_reform=0.0
    D:diesel_reform=0.0
    D:dunaair=0.0
    D:egg=0.0
    D:elbowgrease=0.0
    D:emilk=0.0
    D:enderjuice=0.0
    D:estradiol=0.0
    D:ethanol=0.0
    D:eveair=0.0
    D:fishoil=0.0
    D:fluorine=0.0
    D:fracksol=0.0
    D:fullerene=0.0
    D:gas=0.0
    D:gas_coker=0.0
    D:gasoline=0.0
    D:gasoline_leaded=0.0
    D:grc.applecider0=0.0
    D:grc.applecider1=0.0
    D:grc.applecider2=0.0
    D:grc.applecider3=0.0
    D:grc.applecider4=0.0
    D:grc.applecider5=0.0
    D:grc.applecider6=0.0
    D:grc.grapewine0=0.0
    D:grc.grapewine1=0.0
    D:grc.grapewine2=0.0
    D:grc.grapewine3=0.0
    D:grc.grapewine4=0.0
    D:grc.grapewine5=0.0
    D:grc.grapewine6=0.0
    D:grc.grapewine7=0.0
    D:grc.honey=0.0
    D:grc.honeymead0=0.0
    D:grc.honeymead1=0.0
    D:grc.honeymead2=0.0
    D:grc.honeymead3=0.0
    D:grc.honeymead4=0.0
    D:grc.honeymead5=0.0
    D:grc.honeymead6=0.0
    D:grc.hopale0=0.0
    D:grc.hopale1=0.0
    D:grc.hopale2=0.0
    D:grc.hopale3=0.0
    D:grc.hopale4=0.0
    D:grc.hopale5=0.0
    D:grc.hopale6=0.0
    D:grc.hopale7=0.0
    D:grc.hopale8=0.0
    D:grc.lager0=0.0
    D:grc.lager1=0.0
    D:grc.lager2=0.0
    D:grc.lager3=0.0
    D:grc.lager4=0.0
    D:grc.lager5=0.0
    D:grc.lager6=0.0
    D:grc.ricesake0=0.0
    D:grc.ricesake1=0.0
    D:grc.ricesake2=0.0
    D:grc.ricesake3=0.0
    D:grc.ricesake4=0.0
    D:grc.ricesake5=0.0
    D:grc.ricesake6=0.0
    D:grccore.saltwater=0.0
    D:grcmilk.buttermilk=0.0
    D:grcmilk.cheeseappenzeller=0.0
    D:grcmilk.cheeseasiago=0.0
    D:grcmilk.cheesecheddar=0.0
    D:grcmilk.cheeseemmentaler=0.0
    D:grcmilk.cheesegorgonzola=0.0
    D:grcmilk.cheesemonterey=0.0
    D:grcmilk.cheeseparmesan=0.0
    D:grcmilk.cheesericotta=0.0
    D:grcmilk.cream=0.0
    D:grcmilk.curds=0.0
    D:grcmilk.kumis0=0.0
    D:grcmilk.kumis1=0.0
    D:grcmilk.kumis2=0.0
    D:grcmilk.kumis3=0.0
    D:grcmilk.kumis4=0.0
    D:grcmilk.kumis5=0.0
    D:grcmilk.milk=0.0
    D:grcmilk.pasteurizedmilk=0.0
    D:grcmilk.rennet=0.0
    D:grcmilk.skimmilk=0.0
    D:grcmilk.whey=0.0
    D:hcl=0.0
    D:heatingoil=0.0
    D:heatingoil_vacuum=0.0
    D:heavyoil=0.0
    D:heavyoil_vacuum=0.0
    D:heavywater=0.0
    D:heavywater_hot=0.0
    D:helium3=0.0
    D:helium4=0.0
    D:hell_blood=0.0
    D:honey=0.0
    D:hotcrackoil=0.0
    D:hotcrackoil_ds=0.0
    D:hotoil=0.0
    D:hotoil_ds=0.0
    D:hotsteam=0.0
    D:htco4=0.0
    D:hydrazine=0.0
    D:hydrogen=0.0
    D:iongel=0.0
    D:joolgas=0.0
    D:kerosene=0.0
    D:kerosene_reform=0.0
    D:kmno4=0.0
    D:krypton=0.0
    D:lava=1.0
    D:lightoil=0.0
    D:lightoil_crack=0.0
    D:lightoil_ds=0.0
    D:lightoil_vacuum=0.0
    D:lpg=0.0
    D:lubricant=0.0
    D:melonjuice=0.0
    D:mercury_fluid=0.0
    D:methanol=0.0
    D:methylene=0.0
    D:milk=0.0
    D:minsol=0.0
    D:morkine=0.0
    D:morkite=0.0
    D:mslurry=0.0
    D:mud_fluid=0.0
    D:mug=0.0
    D:mug_hot=0.0
    D:mushroomstew=0.0
    D:mustardgas=0.0
    D:naphtha=0.0
    D:naphtha_coker=0.0
    D:naphtha_crack=0.0
    D:naphtha_ds=0.0
    D:neon=0.0
    D:ngas=0.0
    D:nitan=0.0
    D:nitric_acid=0.0
    D:nitrogen=0.0
    D:nitroglycerin=0.0
    D:nmass=0.0
    D:nmasstetranol=0.0
    D:oil=0.0
    D:oil_coker=0.0
    D:oil_ds=0.0
    D:oliveoil=0.0
    D:oxygen=0.0
    D:oxyhydrogen=0.0
    D:pain=0.0
    D:peroxide=0.0
    D:petroil=0.0
    D:petroil_leaded=0.0
    D:petroleum=0.0
    D:pheromone=0.0
    D:pheromone_m=0.0
    D:phosgene=0.0
    D:plantoil=0.0
    D:plasma_bf=0.0
    D:plasma_dh3=0.0
    D:plasma_dt=0.0
    D:plasma_hd=0.0
    D:plasma_ht=0.0
    D:plasma_xm=0.0
    D:poison=0.0
    D:polythylene=0.0
    D:potassium_chloride=0.0
    D:puf6=0.0
    D:rad_lava_fluid=0.0
    D:radiosolvent=0.0
    D:reclaimed=0.0
    D:redmud=0.0
    D:reformate=0.0
    D:reformgas=0.0
    D:salient=0.0
    D:sarnusgas=0.0
    D:sas3=0.0
    D:schrabidic_fluid=0.0
    D:scutterblood=0.0
    D:seedslurry=0.0
    D:slop=0.0
    D:smear=0.0
    D:smilk=0.0
    D:smoke=0.0
    D:smoke_leaded=0.0
    D:smoke_poison=0.0
    D:sodium=0.0
    D:sodium_hot=0.0
    D:solvent=0.0
    D:sourgas=0.0
    D:spentsteam=0.0
    D:steam=0.0
    D:stellar_flux=0.0
    D:sulfuric_acid_fluid=0.0
    D:sunfloweroil=0.0
    D:superheated_hydrogen=0.0
    D:superhotsteam=0.0
    D:syngas=0.0
    D:tea=0.0
    D:tektoair=0.0
    D:thorium_salt=0.0
    D:thorium_salt_depleted=0.0
    D:thorium_salt_hot=0.0
    D:toxic_fluid=0.0
    D:tritium=0.0
    D:uf6=0.0
    D:ugas=0.0
    D:ultrahotsteam=0.0
    D:unsaturateds=0.0
    D:vitriol=0.0
    D:volcanic_lava_fluid=0.0
    D:wastefluid=0.0
    D:wastegas=0.0
    D:water=0.0
    D:watz=0.0
    D:witchwater=0.0
    D:woodoil=0.0
    D:xenon=0.0
    D:xpjuice=0.0
    D:xylene=0.0
}


general {
    # Factor for damage caused by plane crashes.
    D:CrashDamageFactor=1.0

    # Factor times which engines use fuel.  
    # Change this if you think engines use fuel too fast or slow.
    D:FuelUsageFactor=1.0

    # Any item that contains these words will be counted as heavy (double mass) when considering plane mass.  
    # Change and tweak to your liking.
    S:HeavyItems=diamond, iron, gold, coal, ore, stone

    # Factor to apply to plane movement.  
    # 1 is the realistic value, but this makes planes move too fast for Minecraft. Adjust with caution.
    D:PlaneSpeedFactor=0.5

    # Factor for damage caused by a propeller.
    D:PropellerDamageFactor=1.0

    # How often (in ticks) planes sync themselves.  
    # This will control how often the server sends a sync packet with plane information.  
    # Note that just because the server sends a packet doesn't mean that the client will sync.  
    # That depends on the client's PositionThreshold and IncrementalMovement value.
    I:SyncDelay=5
}


joystick {
    I:Brake=999
    I:CamLock=999
    I:ChangeView=999
    I:FlapsDown=999
    I:FlapsUp=999
    S:JoystickName=
    I:Lights=999
    I:LookDirectional=999
    I:LookDown=999
    I:LookLeft=999
    I:LookRight=999
    I:LookUp=999
    I:Mod=999
    I:Pitch=999
    D:Pitchmaxtravel=1.0
    D:Pitchmintravel=-1.0
    I:Roll=999
    D:Rollmaxtravel=1.0
    D:Rollmintravel=-1.0
    I:Starter=999
    I:Throttle=999
    D:Throttlemaxtravel=1.0
    D:Throttlemintravel=-1.0
    I:Yaw=999
    D:Yawmaxtravel=1.0
    D:Yawmintravel=-1.0
    I:ZoomIn=999
    I:ZoomOut=999
}


keyboard {
    I:BrakeKey=48
    I:CamLockKey=157
    I:FlapsDownKey=35
    I:FlapsUpKey=21
    I:LightsKey=49
    I:ModKey=54
    I:PitchDownKey=17
    I:PitchUpKey=31
    I:RollLeftKey=30
    I:RollRightKey=32
    I:StarterKey=50
    I:ThrottleDownKey=37
    I:ThrottleUpKey=23
    I:YawLeftKey=36
    I:YawRightKey=38
    I:ZoomInKey=201
    I:ZoomOutKey=209
}


